<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CRUDEmployeesApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>SaveServlet</servlet-name>
	<servlet-class>pl.widawski.servlets.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveServlet</servlet-name>
  	<url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<servlet-class>pl.widawski.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/view</url-pattern>
  </servlet-mapping>	
   <servlet>
	<servlet-name>DeleteServlet</servlet-name>
	<servlet-class>pl.widawski.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>EditServlet</servlet-name>
	<servlet-class>pl.widawski.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>UpdateServlet</servlet-name>
	<servlet-class>pl.widawski.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>pl.widawski.Listeners.ContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>pl.widawski.dao.DBConfig</listener-class>
  </listener>
</web-app>